main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .3em;
  font-size: 5em;
  background: #E6CDA5;
  font-family: "Book Antiqua", Georgia, Serif;
}

button {
  display: block;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  background-color: #f6e58d;
  color: #000;
  transition: all .5s ease 0s; 
  box-shadow: 0 10px #f9ca24;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  transition: all .5s ease; 
}